<div class="d-flex justify-content-center mt-5">
    <div class="card w-50">
        <div class="card-body card-styling">
            <h4 class="card-title mb-4">Book your trip!</h4>

            <div *ngIf="tour">
                <h2>{{ tour.tourName }}</h2>
                <p>{{ tour.tourDescription }}</p>
                <p><strong>Package Price:</strong> {{ tour.tourPrice| currency }}</p>
                <p><strong>Max Seats:</strong> {{ tour.maxSeats }}</p>
                <p><strong>Currently Booked:</strong> {{ tour.seatsOccupied }}</p>
                <p><strong>Seats Available:</strong> {{ seatsAvailable }}</p>
                <p><strong>Total Price:</strong> {{ totalPrice | currency }}</p>
            </div>

            <form [formGroup]="itineraryForm"  (ngSubmit)="addToCart()">
                <div class="mb-3 row align-items-center">
                    <label for="seatsBooked" class="col-auto col-form-label mt-3 mt-md-0 text-end pe-1">Number of
                        Seats</label>

                    <div class="col-auto mt-3 mt-md-0">
                        <select 
                        id="seatsBooked" 
                        formControlName="seatsBooked" class="form-select form-select-sm"
                        (change)="onSeatsChange($event)">
                            <option *ngFor="let availSeats of maxSeats" [value]="availSeats">{{availSeats}}</option>
                        </select>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="d-flex gap-5">
                        <button type="submit" class="btn btn-primary" [disabled]="itineraryForm.invalid">Add To Cart</button>
                        <button type="reset" class="btn btn-primary">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
