.navbar-nav .nav-link.active {
    font-weight: bold;
    color: #0d6efd;
}

/* styles.css or scoped to your navbar component */
.navbar .nav-link {
  color: #f8f9fa !important; /* Light gray */
  cursor: pointer;
}

.navbar .nav-link:hover {
  color: #ffffff !important;
}

.cart-badge {
  position: absolute;
  top: -2;
  right: 0;
  left: -3;
  transform: translate(50%, -50%);
  background-color: #28a745; /* Bootstrap green */
  color: white;
  font-size: 0.65rem;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
  line-height: 1;
  z-index: 10;
}
