<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <!-- Logo or brand -->
        <a class="navbar-brand nav-link" routerLink="/">FlyToSpace</a>

        <!-- Toggler/collapsible button for small screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
            aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Nav items -->
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <ng-container *ngIf="!isLoggedIn; else loggedInTemplate">
                    <li class="nav-item">
                        <a class="nav-link me-3" routerLink="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login">Login</a>
                    </li>
                </ng-container>

            <ng-template #loggedInTemplate>
                <li class="nav-item">
                    <span class="nav-link text-light" [routerLink]="['/profile']">{{userEmail}}</span>
                </li>

                <li class="nav-item">
                    <button class="btn btn-sm btn-outline-light" (click)="logout()">Logout</button>
                </li>
            </ng-template>
            </ul>
        </div>
    </div>
</nav>