.spaceship-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 85px);
    overflow: hidden;    
}

.spaceship {
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translateX(0) scale(0.2);
    animation: approach 5s ease-in-out forwards;
}

@keyframes approach {
    0% {
        transform: translateX(0) scale(0.2);
        opacity: 0.3;
    }
    100% {
        transform: translateX(-50%) scale(.9);
        opacity: 1;
    }
}