<div class="d-flex justify-content-center mt-5">
    <div class="card w-50 w-sm-75 w-md-75">
        <div class="card-body card-styling">
            <h4 class="card-title mb-4">Login</h4>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="mb-3 row align-items-center">
                    <label class="col-sm-3 col-form-label">Login</label>
                    <div class="col-10 col-sm-9">
                        <div class="row g-0 align-items-center">
                            <div class="col-10">
                                <input formControlName="email" type="email" class="form-control" />
                            </div>
                            <div class="col-2">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-3 row align-items-center">
                    <label for="password" class="col-sm-3 col-form-label">Password</label>
                    <div class="col-10 col-sm-9">
                        <div class="row g-0 align-items-center">
                            <div class="col-10">
                                <input id="password" formControlName="password" [type]="passwordFieldType"
                                    class="form-control" />
                            </div>
                            <div class="col-2">
                                <button class="btn btn-outline-secondary w-100" type="button"
                                    (click)="toggleShowPassword()" title="Toggle password visibility">
                                    <i class="fa text-white"
                                        [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary auto" [disabled]="loginForm.invalid">Log In</button>
                </div>
                <div class="text-center mt-3">
                    <span>Don't have an account? </span>
                    <a [routerLink]="['/register']" class="text-primary fw-bold register-link">Create Account</a>
                </div>

            </form>
        </div>
    </div>
</div>