<div class="d-flex justify-content-center mt-5">
    <div class="card w-50">
        <div class="card-body card-styling">
            <h4 class="card-title mb-4">Login</h4>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label>Login</label>
                    <input formControlName="email" type="email" class="form-control" />
                </div>

                <div class="mb-3">
                    <label>Password</label>
                    <input formControlName="password" type="password" class="form-control" />
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary auto" [disabled]="loginForm.invalid">Log In</button>
                </div>
            </form>
        </div>
    </div>
</div>